app/code/core/Maho/Blog/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:Maho"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  name="Maho"
                  targetNamespace="urn:Maho">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="blogPostEntity">
                <xsd:all>
                    <xsd:element name="post_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="title" type="xsd:string" minOccurs="0" />
                    <xsd:element name="content" type="xsd:string" minOccurs="0" />
                    <xsd:element name="url_key" type="xsd:string" minOccurs="0" />
                    <xsd:element name="image" type="xsd:string" minOccurs="0" />
                    <xsd:element name="is_active" type="xsd:int" minOccurs="0" />
                    <xsd:element name="publish_date" type="xsd:string" minOccurs="0" />
                    <xsd:element name="meta_title" type="xsd:string" minOccurs="0" />
                    <xsd:element name="meta_keywords" type="xsd:string" minOccurs="0" />
                    <xsd:element name="meta_description" type="xsd:string" minOccurs="0" />
                    <xsd:element name="meta_robots" type="xsd:string" minOccurs="0" />
                    <xsd:element name="created_at" type="xsd:string" minOccurs="0" />
                    <xsd:element name="updated_at" type="xsd:string" minOccurs="0" />
                    <xsd:element name="stores" type="typens:arrayOfString" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="blogPostEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="typens:blogPostEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="arrayOfString">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
</wsdl:definitions>
